<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Format" value="{0}勝 {1}敗" />
        <add key="FontFamily" value="メイリオ" />
        <add key="Foreground" value="#FFFFFF" />
        <add key="Background" value="#000000" />
        <add key="FontSize" value="48" />
		<add key="TargetName" value="" />
    </appSettings>
</configuration>